{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
     <div class="mb-3">
        <label for="symbol" class="form-label">Select Stock Symbol:</label>
        <select  name="symbol" class="form-select" required>
            {% for stock in user_stocks %}
            <option value="{{ stock }}">{{ stock }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Sell</button>
</form>
{% endblock %}
